@import "config";
@import "utilities";
@import "itemsgrid";

//general styles
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto Slab", serif;
  line-height: 1.6;
  background: #fff;

}
a {
  text-decoration: none;
  color: $dark-color;
}
ul {
  list-style: none;
}
h2,
h3,
h3 {
  text-transform: uppercase;
}
img {
  width: 100%;
}
//logo
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}
//main-nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }
  li {
    padding: 1rem 1.5rem;
  }
  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }
    &.current {
      border-color: $main-color;
    }
  }
}

//header
#header {
  &-home {
    background: $bg-image no-repeat center right/cover;
    height: 100vh;
    color: #fff;
    //header-content
    .header-content {
      text-align: center;
      padding-top: 10%;

      h1 {
        font-size: 3rem;
        line-height: 1.2;
      }
      a {
        text-decoration: none;
      }
    }
  }
  //header inner
  &-inner {
    background: $bg-image no-repeat 20% 30%/cover;
    height: 5.5rem;
    border-bottom:3px solid $main-color;
    color: #fff;
  }
}
//home sections
#home {
  //section A
  &-a {
    .special {
      
      display: grid;
      grid-gap: 0.5rem;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 3rem;

      .fa {
        color: $main-color;
        padding-bottom: 0.4rem;
      }
    }
  }
  //section B
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
          font-weight: bolder;
        }
        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }
      div {
        padding: 1rem 0;

        &:nth-child(even) {
          background: $yellow-light;
        }
        &:nth-child(odd) {
          background: $medium-color;
        }
      }
    }
  }
  // Home Section C
  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      // process-step
      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        
        line-height: 10px;
        padding: 1rem;
        transition: all 1s;
      }

      // process-icon
      &-icon {
        border-radius: 50%;
        background: $dark-color;
        color:($light-color);
        padding: 2rem;
        width: 120px;
        height: 120px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 1s;

        &:hover {
          background-color: $main-color;
          width: 130px;
          height: 130px;
          line-height: 90px;

          .process-step {
            background: $dark-color;
          }
        }
      }
    }
  }
  h3 {
    font-size: 15px;
  }
}

//about section A
#about{
  
  &-a{
    
    .about-info{
      
      display:grid;
      grid-template-areas:
      'bioimage bio bio'
      'aw1 aw2 aw3';
      grid-gap:1.2rem;
    }
    //grid-areas
    .bio-image{
      grid-area:bioimage;
    }
    .bio{
      background-color:$medium-color;
      grid-area:bio;
      border-left:3px solid $main-color;
      padding:0.8rem;
    }
    .award-1{
      grid-area:aw1;
    }
    .award-2{
      grid-area:aw2;
    }
    .award-3{
      grid-area:aw3;
    }
    .award-1 .fa,.award-2 .fa,.award-3 .fa{
      color:$main-color;
      margin:1rem;
    }
  }
  &-b{
    .progress{
      overflow:hidden;
      height:20px;
      background-color:$medium-color;
      border-radius:5px;
      margin-bottom:0.5rem;

      div{
      height:100%;
      color:#fff;
      text-align:center;
      background-color:$main-color;
      }
    }
  }
  //section C
  &-c{
    background-color:rgb(171, 223, 137);
    .about-logos{
      
      display:grid;
      grid-template-columns:repeat(4,1fr);
      grid-gap: 2rem;
    }
  }

  //section C
  &-d{
    .testimonials{
      display:grid;
      grid-template-columns:repeat(4,1fr);
      grid-gap:0.5rem;

      ul{
        list-style-type:none;
        margin-top:1rem;
        display:flex;
        align-items:center;
      }
      p{
        border:1px solid $medium-color;
        border-radius:5px;
        padding:0.5rem;
      }
      img{
        width:50px;
        height:50px;
        border-radius:50%;
        margin-right:0.5rem;
      }
    }
  }
}


//footer
#footer{
            background-color:rgb(126, 119, 119);
            padding:7px 0px;

          .container{
            display:grid;
            grid-template-columns: repeat(2,2fr);
            text-align:center;
          .social{
            padding-top:10px;
            align-items:center;
          .fab{
            font-size:17px;
            margin-right:10px;
            border:2px solid #fefefe;
            border-radius:50%;
            background-color:rgb(42, 201, 201);
            padding:15px 15px;
            text-align:center;
            transition:all 0.6s;
            &:hover{
         background-color:rgb(68, 68, 75);
         color:#fff;
      }
        }
        }
        }
      }


//contact
#contact{
  &-a{
    background-color:rgb(212, 122, 122);
    .text-field{
      display:grid;
      grid-template-areas:
      'name email'
      'subject phone'
      'message message';
      grid-gap:1.2rem;
      margin-bottom:1.2rem;

      //grid areas
      .name-input{
        grid-area:name;
      }
      .email-input{
        grid-area:email;
      }
      .subject-input{
        grid-area:subject;
      }
      
      .phone-input{
        grid-area:phone;
      }
      .message-input{
        grid-area:message;
        height:100px;
        border-radius:5px;
      }

      .text-input{
        padding:0.5rem 1rem;
        border-radius:5px;
      }
      
    }
    button[type='submit'] {
      padding:7px 50px;
      background-color:$main-color;
      transition:0.3s;
      color:#333;
      font-size:15px;
      font-family:Georgia, 'Times New Roman', Times, serif;
      border:none;
      border-radius:10px;
      margin-bottom:20px;
    

      &:hover{
        background-color:rgb(41, 236, 15);
        
      }
      }
    }
  

  //section B
  &-b{
    .contact-info{
      display:grid;
      grid-template-columns:repeat(3,1fr);
      grid-gap:1rem;
      text-align:center;
      div{
        border-right:1px solid rgb(139, 136, 136);

        &:last-child{
          border:none;
        }
      }
    }
  }
  &-c{
    
    h1{
      text-align:center;
      font-size:30px;
    }
  }
}

//media queries
@import '_media';
